body {
  min-height: 100vh;
}

.app-container {
  background-color: red;
  height: 100vh;
  max-width: 100%;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 200px;
  margin-left: 20%;
  margin-top: 5%;
}

.sidebar-container {
  background-color: #214973;
  height: 100vh;
  width: 550px;
  max-width: 25%;
  position: fixed;
  overflow: auto;
}

.logo {
  height: 25vh;
  max-width: 60%;
  min-height: 100px;
  width: 275px;
}

.sidebar-header,
.sidebar-subheader,
.sidebar-text,
.sidebar-link,
.sidebar-link:visited {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
}

.sidebar-header {
  font-size: 42px;
}

#header2 {
  margin-top: -20px;
}

.sidebar-subheader {
  font-size: 28px;
}
