body {
  min-height: 100vh;
}

.app-container {
  background-color: rgba(239, 240, 242, 1);
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
  width: 200px;
  margin-left: 20%;
  margin-top: 5%;
}

.sidebar-container {
  background-color: rgba(33, 73, 115, 1);
  height: 100vh;
  max-width: 35%;
  overflow: auto;
}

.logo {
  height: 25vh;
  max-width: 60%;
  min-height: 100px;
  width: 330px;
}

.sidebar-header,
.sidebar-subheader,
.sidebar-text,
.sidebar-link,
.sidebar-link:visited {
  color: white;
  text-align: center;
  font-weight: bolder;
  font-family: 'Comfortaa', cursive;
}

.sidebar-header {
  font-size: 42px;
}

#header2 {
  margin-top: -20px;
}

.sidebar-subheader {
  font-size: 28px;
}

.sidebar-text {
  padding: 0px 10px;
}

.blurb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blurb-text {
  color: rgba(33, 73, 115, 1);
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  font-weight: bolder;
  max-width: 60%;
  text-align: center;
}


.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  color: #214973;
  border-left: 0.5px solid rgba(33, 73, 115, 1);
  border-right: 0.5px solid rgba(33, 73, 115, 1);
  padding: 15px;
}

.nav-item:hover {
  border-left: 5px solid rgba(33, 73, 115, 1);
  border-right: 5px solid rgba(33, 73, 115, 1);
  cursor: pointer;
  font-weight: bolder;
}

#left-edge {
  border-left: 2px solid rgba(33, 73, 115, 1);
}

#right-edge {
  border-right: 2px solid rgba(33, 73, 115, 1);
}

#left-edge:hover {
  border-left: 6px solid rgba(33, 73, 115, 1);
}

#right-edge:hover {
  border-right: 6px solid rgba(33, 73, 115, 1);
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: start;
}

.small-grid-img {
  height: 150px;
  width: 150px;
  padding: 25px;
  cursor: pointer;
}

.mobile-nav-container {
  display: none;
}

@media only screen and (max-width: 420px) {
  .app-container {
    flex-direction: column;
    align-items: end;
    height: 305.5vh;
  }

  .sidebar-container {
    overflow: initial;
    max-width: 100%;
    width: 100vh;
  }

  .section-container {
    margin-left: 72.5px;
  }

  .sidebar-header,
  .sidebar-subheader,
  .blurb-text,
  .nav-bar {
    display: none;
  }

  .row {
    flex-direction: column;
    margin-left: -23px;
  }

  .small-grid-img {
    height: 225px;
    width: 225px;
  }

  .top-nav {
    display: contents;
  }

  .mobile-nav-container {
    display: block;
    position: fixed;
    margin-top: -355px;
    list-style-type: none;
    color: white;
    font-weight: bolder;
    margin-left: 15px;
    background-color: rgba(33, 73, 115, 1);
    border: solid 2.5px white;
    width: 330px;
  }

  .mobile-nav {
    background-color: rgba(33, 73, 115, 1);
    line-height: 2;
    border: solid 1px white;
    margin-left: -15px;
    font-size: 26px;
  }

  .icon {
    position: fixed;
    margin-top: -355px;
    margin-left: 170px;
  }

  .hamburger {
    background-color: white;
    margin: 6px 0;
    height: 5px;
    width: 35px;
  }
}
